:root {
    --background-color: hsl(42, 25%, 87%);
    --primary-color: hsl(0, 0%, 13%);
}

// * {
//     box-sizing: border-box;
//     /* outline to see bounds */
//     outline: red solid 1px;
// }

html {
    scroll-behavior: smooth;
    scroll-padding: var(--scroll-padding, 5rem);
}

body {
    background-color: var(--background-color);
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

h1, h2, h3, h4, h5, h6, p, a, li, ul, ol, span, div {
    font-family: "Winky Rough", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: var(--primary-color);
}

a {
    text-decoration: none;
}

.navbar {
    position: sticky;
    top: 0;
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo {
        float: left;
        width: 150px;
        height: 150px;
    }

    .nav-list {
        display: flex;
        gap: 4rem;
        justify-content: center;
        align-items: center;
        list-style-type: none;
        margin: 0;
        padding: 0;

        li {
            font-size: 1.6rem;
            font-weight: 600;

            a {
                color: var(--primary-color);
                transition: color 0.3s ease;

                &:hover {
                    color: hsl(0, 0%, 20%);
                }
            }
        }
    }
}

main {
    flex-grow: 1;
}
