:root {
    --nav-background-color: hsl(42, 25%, 87%);
    --background-color: hsl(42, 25%, 92%);
    --primary-color: hsl(0, 0%, 13%);
}

html {
    scroll-behavior: smooth;
    scroll-padding: var(--scroll-padding, 5rem);
}

body {
    background-color: var(--background-color);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
li,
ul,
ol,
span,
div {
    font-family: "Winky Rough", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: var(--primary-color);
}

h1 {
    font-size: 2.125rem;
}

h2 {
    font-size: 1.875rem;
}

p,
a,
li,
ul,
ol,
span,
div {
    font-size: 1.5rem;
}

a {
    text-decoration: none;
}

.navbar {
    z-index: 1;
    position: sticky;
    top: 0;
    width: 80%;
    margin: 0 auto;
    padding-left: 10%;
    padding-right: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--nav-background-color);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    .logo {
        float: left;
        width: 150px;
        height: 150px;
    }

    .nav-list {
        display: flex;
        gap: 4rem;
        justify-content: center;
        align-items: center;
        list-style-type: none;
        margin: 0;
        padding: 0;

        .nav-item {
            font-size: 1.6rem;
            font-weight: 600;

            a {
                font-size: 2.125rem;
                color: var(--primary-color);
                transition: color 0.3s ease;

                &:hover {
                    color: hsl(0, 0%, 20%);
                }
            }
        }
    }
}

main {
    flex-grow: 1;
    max-width: 70%;
    margin: auto;

    .rescues {
        .rescues-grid {
            padding: 1em;
            background-color: var(--nav-background-color);
            border-radius: 8px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            display: grid;
            grid-template-columns: repeat(3, minmax(300px, 1fr));
            gap: 2rem;

            .rescue-card {
                display: flex;
                flex-direction: column;
                text-align: center;

                .embla {
                    aspect-ratio: 1 / 1;
                    overflow: hidden;
                    border-radius: 8px;

                    .embla__container {
                        display: flex;

                        .embla__slide {
                            flex: 0 0 100%;
                            min-width: 0;

                            img {
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                                object-position: center;
                            }
                        }
                    }
                }
            }
        }
    }

    .donate {
        .donation-address-card {
            margin: auto;
            max-width: 340px;
            padding: 1rem;
            background-color: var(--nav-background-color);
            border-radius: 8px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

            p {
                margin: 0;
            }

            .donation-address {
                margin-top: 0.6rem;

                p {
                    font-size: 1.75rem;
                }
            }
        }
    }

    .contact {
        .contact-cards-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 2rem;

            .contact-card {
                min-width: 380px;
                padding: 1rem;
                background-color: var(--nav-background-color);
                border-radius: 8px;
                box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

                p {
                    margin: 0;
                }

                .contact-address {
                    margin-top: 0.6rem;

                    p {
                        font-size: 1.75rem;

                        a {
                            color: var(--primary-color);
                            font-weight: 700;
                        }
                    }
                }
            }
        }
    }
}

.footer {
    background-color: var(--nav-background-color);
    color: var(--primary-color);
    text-align: center;
    padding: 1rem 0;
    margin-top: auto;
}